* {
    margin: 0;
    padding: 0;
}

#set-breaks {
    background-color: #050505;
    height: 100vh;
    width: 100%;
    color: white;
}

#nav-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navigation-button {
    font-size: 24px;
    color: #ffffff;
    background-color: #5d3c8c;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    bottom: 20px;
    right: 20px;
    transition: all 0.3s ease;
}

.navigation-button:hover {
    cursor: pointer;
    background-color: #724daa;
    transform: scale(1.05);
}