/* Style for the main container */
#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/* Style for the box */
#streak-container {
    /* border: 2px solid #5d3c8c; */
    /* border-radius: 15px; */
    /* box-shadow: 5px 5px 10px #888888; */
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    position: relative;
}

/* Style for the streak text */
#streak-text {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #5d3c8c;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
}

#greeting-container {
    border: 2px solid #5d3c8c;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #888888;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    position: relative;
}

/* Style for the wish text */
#greeting-text {
    font-size: 36px;
    color: #5d3c8c;
    text-align: center;
    margin-bottom: 30px;
}

/* Style for the start session button */
#start-session-button {
    font-size: 24px;
    color: #ffffff;
    background-color: #5d3c8c;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

/* Style for the start session button when hovered */
#start-session-button:hover {
    cursor: pointer;
    background-color: #724daa;
    transform: scale(1.1);
}

/* Style for the reports button */
#reports-button {
    font-size: 24px;
    color: #ffffff;
    background-color: #5d3c8c;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    margin: 20px 20px 20px 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: all 0.3s ease;
}

/* Style for the reports button when hovered */
#reports-button:hover {
    cursor: pointer;
    background-color: #724daa;
    transform: scale(1.05);
}

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 768px) {

    /* Style for the main container */
    #main-container {
        margin-top: 20px;
    }

    /* Style for the box */
    #main-box {
        width: 90%;
        padding: 20px;
    }

    /* Style for the streak text */
    #streak {
        font-size: 20px;
        padding: 8px 15px;
    }

    /* Style for the wish text */
    #greeting-text {
        font-size: 24px;
    }

    /* Style for the start session button */
    #start-session-button {
        font-size: 20px;
        padding: 15px 30px;
    }

    /* Style for the reports button */
    #reports-button {
        font-size: 20px;
        padding: 15px 30px;
        margin: 20px 0 0;
    }
}